.filter {
  background: #F9F9FA;
  padding: 20px 20px 50px;
  box-shadow:
    1px 0 0 0 #E8E8E8,
    0 1px 0 0 #E8E8E8,
    1px 1px 0 0 #E8E8E8,
    1px 0 0 0 #E8E8E8 inset,
    0 1px 0 0 #E8E8E8 inset;


  &__inner {
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 25px;
  }

  &__item {
    margin-top: 10px;

    &_open {
      & .filter__title-box {
        padding-bottom: 20px;

        & svg {
          transform: rotate(0);
          transition: transform 0.3s;
        }
      }
    }
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 0;
    transition: padding-bottom 0.3s;

    & svg {
      transition: transform 0.3s;
      transform: rotate(180deg);

    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
  }

  &__check-input {
    width: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+label::before {
      background-image: url('../images/icon/check.svg');
      background-color: $accent;
      border-color: $accent;
    }
  }

  &__checkbox-item {
    &_no-active {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  &__checkbox-item:not(:last-child) {
    margin-bottom: 14px;
  }

  &__label {
    font-size: 16px;
    line-height: 1.25;
    color: $default2;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      border: 1px solid #CACCCF;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center;
      transition: border-color 0.3s, background-color 0.3s;
      margin-right: 12px;
    }
  }

  &__btn {
    width: 100%;
    padding: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    border: 2px solid $accent;
    border-radius: 2px;
    color: $accent;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    text-align: center;

    &:hover{
      border-color: $accent-hover;
      color: $accent-hover;
    }

    &_remove {
      border: none;
      font-weight: 400;
    }
  }

}