<div class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Каталог товаров
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">
          Спецодежда
        </a>
      </li>
      <li class="breadcrumbs__item">
        Спецодежда зимняя
      </li>
    </ul>
    <ul class="breadcrumbs__list-mob">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link_return" href="#">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6L9 12L15 18" stroke="#CACCCF" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>

          <span>Назад</span>
        </a>
      </li>
    </ul>
  </div>
</div>