<footer class="footer">

  <div class="footer__top">
    <div class="container">
      <div class="footer__inner">
        <ul class="footer__list footer__list_tel">
          <li class="footer__item">
            <a class="footer__tel" href="tel:+74957772345">
              <span>+7 (495) 777-2345</span>
              <span class="footer__tel-text">Заказать звонок</span>
            </a>
          </li>
          <li class="footer__item">
            <ul class="footer__social social">
              <li class="social__item">
                <a class="social__link" href="#">
                  <img class="social__img" width="24" height="24" src="images/social/facebook.svg" alt="social-img">
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <img class="social__img" width="24" height="24" src="images/social/inst.svg" alt="social-img">
                </a>
              </li>
              <li class="social__item">
                <a class="social__link" href="#">
                  <img class="social__img" width="24" height="24" src="images/social/vk.svg" alt="social-img">
                </a>
              </li>
            </ul>
          </li>
          <li class="footer__item">
            <a class="footer__download" href="#" download="">
              <img class="footer__download-img" width="28" height="28" src="images/icon/exel.svg" alt="exel-icon">
              <span>Скачать прайс-лист</span>
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              каталог
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              СПЕЦОДЕЖДА
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Средства защиты рук
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Активный отдых
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Хозтовары и постельные принадлежности
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              обувь
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              Средства индивидуальной защиты
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              жилеты на все случаи жизни
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              линия Plus
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link footer__link_accent" href="#">
              Ликвидация
            </a>
          </li>
        </ul>
        <ul class="footer__list footer__list_large">
          <li class="footer__item">
            <div class="footer__subscribe subscribe">
              <p class="subscribe__title">
                Подпишитесь на новости и акции и будьте в курсе всего!
              </p>
              <div class="subscribe__input-box">
                <input class="subscribe__input" type="text" placeholder="Введите свой e-mail">
                <button class="subscribe__btn">
                  <span class="sr-only">Подписаться на рассылку</span>
                  <img class="subscribe__img" src="images/icon/send.svg" alt="send" width="24" height="24">
                </button>
              </div>
              <div class="subscribe__input-box">
                <input class="subscribe__checkbox" type="checkbox" id="agree">
                <label class="subscribe__label" for="agree">
                  <div> Я даю согласие на обработку персональных данных и соглашаюсь
                    с правилами обработки персональных данных.</div>
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <span class="footer__copyright">2021 © PLANETA-SIRIUS.RU</span>
      <p class="footer__info">
        Вся приведенная на сайте информация, носят исключительно ознакомительный характер и не является публичной
        офертой.
      </p>
    </div>
  </div>


</footer>